body {
  height: auto;
  font-family: 'printdashed';
  padding-left: 0 !important;
  padding-right: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

.flex-container {
    display: inline-flex;
    justify-content: center;
}

.contdiv{
  background-color: white;
  opacity: 0.8;
}

.divisas{
  font-family: basictitlefont;
  font-size: 40px;
  height: 600px;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.cabdivisas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu-padding {
    padding-top:40px;
}

.btnwhy{
  font-size: 2.5em;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  height: 90px;
  width: 140px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2.5;
}

.boxwhy{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  text-align: center;
}

.mug{
  height: 240px;
  width: 240px;
}

.mugctn{
  display: inline-block;
  font-size: 3em;
  width: 25%;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.mugbox{
  width: 100%;
}

#what:hover{
  font-size: 4em;
}

#what{
  background-color: white;
  width: 16%;
  font-size: 3em;
}

#prints, #arts, #presents, #artsw, #tattos{
  text-decoration: none;
  border: none;
}

#prints:hover, #arts:hover, #presents:hover, #artsw:hover, #tattos:hover{
  font-size: 4.5em;
}

#principal{
  background-image: url("../images/estampasfull.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  margin-top: -80px;
}

#logocontainer{
  margin: 0 auto;
}

#espaco1{
  height: 280px;
  width: auto;
}

#espaco2{
  height: 300px;
  width: auto;
}

#espaco3{
  height: 500px;
  width: auto;
}

.espaco{
  height: 400px;
  width: auto;
}

#logo{
  width: 600px;
  height: auto;
  opacity: 0.9;
  background-color: white;
}

#intro{
  background-color: white;
  font-size: 1.7em;
  margin-top: 314px;
  line-height: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 550px;
  position: relative;
  left: 650px;
}

#frase{
  background-color: white;
  font-size: 5em;
  width: 42%;
  margin-left: 80px;
}

#meninas{
}

#lugares {
}

#primeiraparte{
  display: inline-block;
  text-align: center;
  width: 100%;
}

#cabecalho {
    font-family: 'printdashed';
    font-size: 2.5em;
    font: black;
    padding: 0;
    max-width: 100%;
    opacity: 0.9;
    background-color: white;
    overflow: hidden;
}

#cabecalho ul {
  max-width: 100%;
  text-decoration: none;
  padding: 0;
}

#cabecalho ul li {
  display: inline;
  padding: 0 4% 0 4%;
  opacity: 0.8;
}

#cabecalho ul li a{
  text-decoration: none;
  color: inherit;
}

#arte{
  width: 35%;
  height: auto;
  margin-top: 80px;
  margin-left: 700px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#arte a{
  width: 100%;
  font-size: 3.5em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#minilogo{
  height: 50px;
  width: 30px;
}

@font-face {
  font-family: 'basictitlefont';
  src: url('../fonts/basictitlefont.ttf');
}

@font-face {
  font-family: 'printclear';
  src: url('../fonts/printclear.TTF');
}

@font-face {
  font-family: 'printdashed';
  src: url('../fonts/printdashed.TTF');
}

.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.navbar-fixed-top{
  margin-top: 0px !important;
}

.container {
  max-width:600px;
  margin:0 auto;
  text-align:center;
  border-radius:6px;
}
.head {
  border-radius:6px 6px 0px 0px;
  background-color:#000000;
  color:#FAFAFA;
}
#contactheader {
  text-align:center;
  padding:18px 0 18px 0;
  font-size: 1.4em;
}
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color:#FAFAFA;
  border-radius: 5px;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}

button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#000000;
  padding: 12px 45px;
  border-radius: 5px;
  border: 1px solid #000000;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}

label.error {
    font-size:1em;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    border-radius:6px;
}

.message {
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    border-radius:6px;
}
